@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Open+Sans:wght@300&family=Roboto&display=swap');
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset */

html {
    font-family: 'Cairo', 'Open Sans';
}


main{
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardcontainer {
    display: flex;
    width: 80vw;
    height: fit-content;
    gap: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 16vw;
    background-color: #eee;
    height: 30vh;
    border-radius: 20px;
    align-items: center;
}
.cardTitle{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.cardBtn{
    width: 80%;
    border: none;
    background-color: white;
    height: 20%;
    border-radius: 20px;
    font-size: 1.5rem;
}
.isReadBtn {
    background-color: rgb(116, 190, 3);
}
.removeBtn {
    background-color: rgba(209, 5, 5, 0.719);
}
.navbar{
    background-color: #eee;
    height: 10vh;
    width: 100vw;
}
footer{
    background-color: #eee;
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
}
.addBookButton{
    font-family: 'Cairo';
    border: none;
    height: 6rem;
    width: 15vw;
    font-weight: bold;
    font-size: 2rem;
}
.formContainer{
    height: fit-content;
    width: 20vw;
    background-color: #eee;
    margin: 3rem;
    display: none;
    flex-direction:column;
    align-items: center;
}
.formContainer h1{
    font-size: 2rem;
    align-self: center;
    margin: .5rem;
}
.formContainer form{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.formContainer input{
    border: none;
    border-radius: 20px;
    margin: 1rem;
    width: 80%;
    font-size: 1.3rem;
    padding: 1rem;
}
.isRead{
    justify-self: center;
    align-self: center;
    display: flex;
    flex: 1;
    font-size: 1.2rem;
    font-family: 'Cairo';
    padding: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.isRead input {
    max-width: 5%;
}
.submitButton{
    font-family: 'Cairo';
    align-self: center;
    justify-self: center;
    border: none;
    font-size: 1.7rem;
    height: 4rem;
    width: 10rem;
    margin: 1rem;
    background-color: aliceblue;
}
.active {
    display: flex;
}
